$form-field: '.mat-form-field';

$form-field-focused: '.mat-focused';

// Containers for both the label and input content
// Usage depends upon appearance type of form field
$form-field-infix: '.mat-form-field-infix';
$form-field-flex: '.mat-form-field-flex';

$form-field-legacy: '.mat-form-field-appearance-legacy';
$form-field-standard: '.mat-form-field-appearance-standard';
$form-field-fill: '.mat-form-field-appearance-fill';
$form-field-outline: '.mat-form-field-appearance-outline';

$form-field-label-float: '.mat-form-field-can-float.mat-form-field-should-float label';
$form-field-label-focused: '.mat-focused label';
$form-field-label: '.mat-form-field-hide-placeholder label';

$form-field-outline-gap: '.mat-form-field-outline-gap';
$form-field-outline-background: '.mat-form-field-outline';

$form-field-background: '.mat-form-field-flex';

$form-field-value: 'input';
$form-field-select-value: '.mat-select-value-text';

// Mixins

// -------------- Form Fields -------------------

@mixin form-field-border-radius($radius: 0) {
  .mat-form-field-outline-start {
    border-radius: $radius 0 0 $radius !important;
    width: $radius !important;
  }

  .mat-form-field-outline-end {
    border-radius: 0 $radius $radius 0 !important;
  }

  #{$form-field-background},
  #{$form-field-outline-background} {
    border-radius: $radius !important;
  }
}

@mixin form-field-border($border: 1px solid black) {
  .mat-form-field-outline-start {
    border: $border !important;
    border-right-style: none !important;
  }

  .mat-form-field-outline-end {
    border: $border !important;
    border-left-style: none !important;
  }

  .mat-form-field-outline-gap {
    border: $border !important;
    border-left-style: none !important;
    border-right-style: none !important;
  }
}

@mixin form-field-active-border($border: 1px solid black) {
  &#{$form-field-focused} {
    .mat-form-field-outline-start {
      border: $border !important;
      border-right-style: none !important;
    }

    .mat-form-field-outline-end {
      border: $border !important;
      border-left-style: none !important;
    }

    .mat-form-field-outline-gap {
      border: $border !important;
      border-left-style: none !important;
      border-right-style: none !important;
    }
  }
}

@mixin form-field-label-initial-position($left: 0em, $top: 0em) {
  .mat-form-field-label-wrapper {
    top: -20px !important;
  }
  // Account for the minor variance in
  // the various mat form field appearances
  &#{$form-field-legacy} {
    &#{$form-field-label} {
      top: $top !important;
    }
  }
  &#{$form-field-standard} {

    &#{$form-field-label} {
      top: $top !important;
    }
  }
  &#{$form-field-fill} {

    &#{$form-field-label} {
      top: calc(5px + #{$top}) !important;
    }
  }
  &#{$form-field-outline}#{$form-field-label} {
    top: calc(5px + #{$top}) !important;
  }

  &#{$form-field-label} {
    left: $left !important;
  }
}
@mixin form-field-label-floating-position($left: 0em, $top: 0em) {
  .mat-form-field-label-wrapper {
    top: -20px !important;
  }
  // Account for the minor variance in
  // the various mat form field appearances
  &#{$form-field-legacy} {
    &#{$form-field-label-float} {
      top: calc(13px + #{$top}) !important;
    }
  }
  &#{$form-field-standard} {
    &#{$form-field-label-float} {
      top: calc(15px + #{$top}) !important;
    }
  }
  &#{$form-field-fill} {
    &#{$form-field-label-float} {
      top: calc(10px + #{$top}) !important;
    }
  }
  &#{$form-field-outline} {
    &#{$form-field-label-float} {
      top: calc(26px + #{$top}) !important;
    }
  }

  &#{$form-field-label-float} {
    left: $left !important;
    // TODO: see if a parameterized animation can be formed
    // transition: unset !important;
  }
  // TODO: figure out how to place the gap
  // only if the position of the lable is in conflict
  // with the border
  #{$form-field-outline-gap} {
    width: 0 !important;
  }
}

@mixin form-field-label-float-size($size: 14px) {
  &#{$form-field-label-float} {
    font-size: $size;
  }
}

@mixin form-field-label-float-weight($weight: normal) {
  &#{$form-field-label-float} {
    font-weight: $weight;
  }
}

@mixin form-field-label-weight($weight: normal) {
  &#{$form-field-label} {
    font-weight: $weight;
  }
}

@mixin form-field-label-float-color($color: black) {
  &#{$form-field-label-float} {
    color: $color;
  }
}

@mixin form-field-label-color($color: black) {
  &#{$form-field-label} {
    color: $color;
  }
}

@mixin form-field-background-color($color: white) {
  #{$form-field-background} {
    background-color: $color;
  }

  &#{$form-field-outline} {
    #{$form-field-background} {
      background-color: unset;
    }

    #{$form-field-outline-background} {
      background-color: $color;
    }
  }
}

@mixin form-field-value-size($size: 14px) {
  #{$form-field-value} {
    font-size: $size;
  }

  #{$form-field-select-value} {
    font-size: $size;
  }
}

@mixin form-field-padding($padding: 1em 0 1em 0) {
  #{$form-field-infix} {
    padding: 0 0 0 0;
  }

  #{$form-field-flex} {
    padding: $padding !important;
  }
}

//--------------------------------------------
//------------ Select ------------------------
@mixin select-arrow-color($color: black){

}

@mixin select-arrow-color($color: black){

}
