$form-field: '.mat-form-field';

$form-field-legacy: '.mat-form-field-appearance-legacy';
$form-field-standard: '.mat-form-field-appearance-standard';
$form-field-fill: '.mat-form-field-appearance-fill';
$form-field-outline: '.mat-form-field-appearance-outline';

$form-field-label-float: '.mat-form-field-can-float.mat-form-field-should-float label';
$form-field-label-active: '.mat-focused label';
$form-field-label: '.mat-form-field-hide-placeholder label';

$form-field-outline-gap: '.mat-form-field-outline-gap';
$form-field-outline-background: '.mat-form-field-outline';

$form-field-background: '.mat-form-field-flex';

$form-field-value: '';

// Mixins

@mixin form-field-border-radius($radius: 0) {
  .mat-form-field-outline-start {
    border-radius: $radius 0 0 $radius !important;
    width: $radius !important;
  }

  .mat-form-field-outline-end {
    border-radius: 0 $radius $radius 0 !important;
  }

  #{$form-field-background},
  #{$form-field-outline-background} {
    border-radius: $radius !important;
  }
}

@mixin form-field-label-position-floating($left: 0em, $top: 0em) {
  // Account for the minor variance in
  // the various mat form field appearances
  &#{$form-field-legacy} {
    &#{$form-field-label-float} {
      top: calc(13px + #{$top}) !important;
    }
  }
  &#{$form-field-standard} {
    &#{$form-field-label-float} {
      top: calc(15px + #{$top}) !important;
    }
  }
  &#{$form-field-fill} {
    &#{$form-field-label-float} {
      top: calc(7px + #{$top}) !important;
    }
  }
  &#{$form-field-outline} {
    &#{$form-field-label-float} {
      top: calc(30px + #{$top}) !important;
    }
  }

  &#{$form-field-label-float} {
    left: $left !important;
    // TODO: see if a parameterized animation can be formed
    // transition: unset !important;
  }
  // TODO: see if it is possible to move this around with the label
  // instead of just removing it
  #{$form-field-outline-gap} {
    width: 0 !important;
  }
}

@mixin form-field-label-size-float($size: 14px) {
  &#{$form-field-label-float} {
    font-size: $size;
  }
}

@mixin form-field-label-weight-float($weight: normal) {
  &#{$form-field-label-float} {
    font-weight: $weight;
  }
}

@mixin form-field-label-weight($weight: normal) {
  &#{$form-field-label} {
    font-weight: $weight;
  }
}

@mixin form-field-label-color-float($color: black) {
  &#{$form-field-label-float} {
    color: $color;
  }
}

@mixin form-field-label-color($color: black) {
  &#{$form-field-label} {
    color: $color;
  }
}

@mixin form-field-background-color($color: white) {
  #{$form-field-background} {
    background-color: $color;
  }

  &#{$form-field-outline} {
    #{$form-field-background} {
      background-color: unset;
    }

    #{$form-field-outline-background} {
      background-color: $color;
    }
  }
}
